<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="120 seconds" debug="true">
    <property name="PROJECT_NAME" value="pcegg"/>
    <property name="PAAS_LOG_DIR" value="data/logs"/>
    <property name="log.appender" value="FILE"/>
    <property file="${user.home}/paas/gdoc.properties"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <param name="Encoding" value="UTF-8" /> 
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5p [%file:%line] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <param name="Encoding" value="UTF-8" /> 
        <File>${PAAS_LOG_DIR}/${PROJECT_NAME}.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5p [%file:%line] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PAAS_LOG_DIR}/${PROJECT_NAME}/${PROJECT_NAME}_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>


  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>